@import './homePageStyles/homePage.scss';
@import './employeesRegisterForm/employeesRegisterForm.scss';
@import './employeesRecords/employeesRecords.scss';
@import '~bootstrap/scss/bootstrap';

body{
    background-image: url("https://i.pinimg.com/originals/f2/25/f0/f225f0da5b621b872f6513d59f89a9b6.jpg");
    background-size: 100%;
    width:100%;
    background-repeat: no-repeat;
}