.home-page-main-container{
    &__span-welcome-to-collaborators{
        font-size: 60px;
    }

    

    &__span-container{
       text-align: center;
       margin-top: 20px;
    }

    &__ancore-register{
        color: black;
        font-size: 25px;
    }

    &__span-grupo-advantiel-container{
      text-align: center;
      font-size: 90px;
      margin-top:380px
    }
}

// style="border:1px solid black ;text-align:center ;font-size:90px; margin-top:380px"